.start-grid
{
  align-items: center;
  justify-content: center;
  height: 50%;
  margin-left: 20%;
  margin-right: 20%;
}

.player-info
{
  border: #000 solid;
  width: 100%;
  height: 100%;
  text-align: center;
}

.create-game
{
  border: #000 solid;
  height: 100%;
  width: 100%;
  text-align: center;
}

.join-game
{
  border: #000 solid;
  height: 100%;
  width: 100%;
  text-align: center;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  text-align: center;
}

.room-name
{
  border: #000 solid;
  border-radius: 5%;
  margin-left: 30%;
  margin-right: 30%;
}

.main-grid
{
  display: grid;
}

.score-board
{
  position: absolute;
  height: fit-content;
  background-color: darkgrey;
  padding: 2px;
}

.score-board>table
{
  border-collapse: collapse;
  border: 1px solid #000;
}

.score-board th, .score-board td
{
  border-left: 1px solid #000;
  border-right: 1px solid #000;
  padding: 8px;
}

.game-area {
  position: relative;
  margin: 10px auto;
  width: 200px;
  height: 200px;
  border: 2px solid #000;
}

.snake-dot {
  position: absolute;
  z-index: 2;
}

.snake-food{
  position: absolute;
  border-radius: 50%;
  background-color: red;
  z-index: 1;
}

.party-view{
  visibility: collapse;
  display: none;
}

.start-view{
  visibility: visible;
}

.error-message{
  color: red;
}

.ready-ask{
  z-index: 2;
  background-color: rgba(0,0,0, 0.5);
  position: fixed;
  width: inherit;
  height: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
}

/**POPUP**/

.popup {
  z-index: 3;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}
.popup_inner {
  position: absolute;
  left: 25%;
  right: 25%;
  top: 25%;
  bottom: 25%;
  margin: auto;
  background: white;
}

/**SETTINGS**/

.settings-button {
  position: fixed;
  top: 1%;
  right: 1%;
}

.settings{
  width: 150px;
  height: 100%;
  text-align: center;
}

.slide-bar{
  position: relative;
  width: 100%;
  height: 50%;
}